[build]
  base = "/"
  command = "npm run build"
  publish = ".next"
  functions = "netlify/functions"

[build.environment]
  PRISMA_CLIENT_ENGINE_TYPE = "library"
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"
